<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

      * {
        font-family: "Source Sans Pro", sans-serif;
      }

      body {
        background-color: rgb(67, 67, 92);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    </style>
    <title>E-Commmerce</title>
  </head>
  <body>
    {% block content %} {% endblock content%}
  </body>
</html>
